<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Home</title>
    <link rel="stylesheet" href="/assets/subscriber/subscriber.css" />
    <script src="https://unpkg.com/mqtt/dist/mqtt.min.js"></script>
  </head>
  <body>
    <h1>Forum Chat</h1>
    <h2>General</h2>
    <div class="line"></div>
    <ul class="wrapper">
      <li class="form-row">
        <label for="topic"></label>
        <input type="text" id="topic" value="generalTopic" hidden="true" />
      </li>
      <li class="form-row">
        <label for="messageSub">Message</label>
        <textarea id="messageSub" name="messageSub" rows="10" readonly></textarea>
      </li>
    </ul>
    <form method="post" action="/publish" id="publishForm">
      <ul class="wrapper">
        <li class="form-row">
          <label for="topic"></label>
          <input type="text" id="topic" value="generalTopic" hidden="true"/>
        </li>
        <li class="form-row">
          <label for="messagePub">Message</label>
          <input type="text" id="messagePub" />
        </li>
        <li class="form-row">
          <button type="submit" class="publish">Send</button>
        </li>
      </ul>
    </form>
    <script src="/assets/home/home.js"></script>
  </body>
</html>
