<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Publisher</title>
    <link rel="stylesheet" href="/assets/publisher/publisher.css" />
    <link rel="stylesheet" href="/assets/stylesheets/navbar.css" />
  </head>
  <body>
    <%- include('../partials/navbar.ejs') %>
    <h1>Forum Chat</h1>
    <h2>Publisher</h2>
    <div class="line"></div>
    <form method="post" action="/publish" id="publishForm">
      <ul class="wrapper">
        <li class="form-row">
          <label for="topic">Topic</label>
          <select id="topic" name="topic">
            <option value="">Select a user</option>
          </select>
        </li>
        <li class="form-row">
          <label for="message">Message</label>
          <input type="text" id="message" />
        </li>
        <li class="form-row">
          <button type="submit" class="publish">Publish</button>
        </li>
      </ul>
    </form>
    <script src="/assets/publisher/publisher.js"></script>
    <script>
      window.addEventListener("load", async (event) => {
        const allUsers = await fetch(`/getAllUsers`);
        const users = await allUsers.json();
        const topicSelect = document.getElementById("topic");
        users.forEach((user) => {
          const option = document.createElement("option");
          option.value = user.topic_token;
          option.text = user.username;
          topicSelect.add(option);
        });
      });
    </script>
  </body>
</html>
